
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.laravelAlert {
  margin: 60px 10px -60 10px;
}

.deleteButton {
  text-align: center;
  padding: 0 8px 0 8px !important;
}

.btn-delete {
  width: 100%;
}

.pagination {
  margin: auto;
}

.btn-export {
  float: right;
}

.btn-accepted, .btn-rejected {
  margin-bottom: 5%;
  width: 35%;
}

.leftStatus {
  float: left;
}

.rightStatus {
  float: right;
}

.vLine {
  max-width: 5% !important;
}

.centerStatus {
  padding-left: 16.66666667%;
}

.row {
  text-align: center;
}

.noPadding {
  padding: 0;
}